/*GENERALES*/
:root {
    --blanco: #fafafa;
    --negro: #222222;
    --beige: #C7BFB9;
    --shadow: 0px 0px 4px 0px rgba(218, 218, 218, 0,7),
    0px 4px 4px 0px rgba(218, 218, 218, 0,7);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none; 
}
body {
    background-color: var(--blanco); 
}

li {
    list-style: none; 
}
ul, button {
    margin: 0%;
    padding: 0%; 
}
a {
    text-decoration: none; 
}
a:hover {
    text-decoration: none;
}
a:visited {
    color: unset;
    text-decoration: unset;
}
body::-webkit-scrollbar {
    visibility: hidden;
    width: 0;
    margin: 0%;
    padding: 0%; 
}

/*ELEMENTOS REUTILIZABLES*/
.botonRedondo {
    background-color: var(--blanco);
    border-radius: 100%;
    color: var(--negro);
    box-shadow: var(--shadow);
    position: absolute;
}

/*POSICIONAMIENTO*/
.ocupaTodo {
    height: 100%;
    width: 100%;}
.flex_verticalCenter {
    display: flex;
    align-items: center;}
.flex_superCenter {
    display: flex;
    justify-content: center;
    align-items: center;}
.positionRelative {
    position: relative;}
.displayNone {
    display: none;}

/*TEXTOS*/
.textoChico {
    font-size: 1rem;}
.textoMediano {
    font-size: 1.2rem;}
.textoGrande {
    font-size: 1.3rem;}
.iconMediano {
    font-size: 2rem;}
.textoBlanco {
    color: var(--blanco);}
.textoGris {
    color: var(--negro);}
.textoBeige {
    color: var(--beige);}
/*NOTA: Ver si dejo este textoPortada o lo cambio por textoGrande*/
.textoPortada {
    font-size: 1.5rem;} 
.fontAca {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Barra de navegación*/
nav > ul {
    background-color: var(--blanco);
    padding: 10% 5%;
    margin: 0%;}
.linea_hamburguesa {
    width: 20px;
    height: 5px;}
.linea_separacion {
    width: 100%;
    height: 1px;}

/*HEADER*/
header {
    background-position: top center;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 100vh;
    width: 100%;
    position: relative;}
header > section:nth-child(2n) {
    width: 70%; /*NOTA: Esto lo voy a sacar cuando haga el responsive porque va a cambiar el tamaño según la pantalla creo*/}
.header_linea {
    width: 100%;
    height: 1px;}
#header_lineaTop {
    position: absolute;}
#header_lineaBottom {
    position: absolute;}

/*CARDS*/
.categorias_card {
    background-color: #fafafa;
    box-shadow: var(--shadow)
}
#slider_GoLeft {
    position: absolute;
    left: 0%;
}
#slider_GoRight {
    position: absolute;
    right: 0%;
}